* {
    width:fit-content;
    background-color: rgb(143, 143, 143);
}

#quiz{ 
    
    background-color: rgb(43, 255, 0);
}

button{
    background-color: blueviolet;
}

.questions{
    background-color: blue;

}